body {
    overflow: hidden;
}

#candleContent {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 70vh;
    left: 5vw;
    top: 10vh;
}

.candle{
    display: inline-flex;
    position: relative;
    width: 3.5vw;
    height: 50vh;
    margin-top: 20vh;
    margin-left: 8vw;
}

#candle1:hover{
    cursor: pointer;
}

#candle1 {
    background-color: rgb(230, 22, 22);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}
#candle2 {
    background-color: rgb(166, 37, 226);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}
#candle3 {
    background-color: rgb(247, 162, 6);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
    
}
#candle4 {
    background-color: rgb(0, 162, 255);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}
#candle5 {
    background-color: rgb(251, 255, 0);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255, 255, 255, 0.486) 50%);
    background-size: 50px 50px;
}
#candle6 {
    background-color: rgb(255, 0, 191);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}
#candle7 {
    background-color: rgb(0, 255, 0);
    background-image: linear-gradient(0deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}

.flame{
    display: inline-flex;
    position: relative;
    margin-top:1vh;
    margin-left: 7.1vw;
    filter: drop-shadow(8px 8px 20px rgb(255, 255, 188));
}

#flame1{
    visibility: hidden;
}
#flame2{
    visibility: hidden;
}
#flame3{
    visibility: hidden;
}
#flame4{
    visibility: hidden;
}
#flame5{
    visibility: hidden;
}
#flame6{
    visibility: hidden;
}
#flame7{
    visibility: hidden;
}

#flameContent {
    z-index: -2;
    position: absolute;
    width: 100vw;
    height: 70vh;
    left: 5vw;
    top: 10vh;
}


#background {
    z-index: -5;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    background-color: rgb(41, 39, 39);
}